# Build files
build
cbuild
dist
openql.egg-info
lab
env
tools/test_output
tools/test_files/test_vault/all
tools/metrics
# Temp files
*.dot
*.qc
*.dat
*.swp
*~
*.log
*.so
*.pyd
*.pyc
*.cache
swig/openql.py
swig/openql/openql.py

# Test files
test_output
.ipynb_checkpoints
