[submodule "deps/libqasm"]
	path = deps/libqasm
	url = https://github.com/QE-Lab/libqasm.git
	branch = develop
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/backward-cpp"]
	path = deps/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
