# Build files
build
cbuild
pybuild
dist
openql.egg-info
lab
env
.eggs/

# Temp files
*.dot
*.qc
*.dat
*.swp
*~
*.log
*.so
*.pyd
*.pyc
*.cache
swig/openql.py
swig/openql/openql.py
swig/qutechopenql.egg-info

# Test files
test_output*
.ipynb_checkpoints
test/v1x/python/test_gate_decomposition_cz.cc_backend.map
test/v1x/python/test_gate_decomposition_cz.cc_backend.vcd
test/v1x/python/test_gate_decomposition_cz.cc_backend.vq1asm
test/v1x/python/test_gate_decomposition_cz.initial.cq
test/v1x/python/test_gate_decomposition_cz.scheduled.cq
test/v1x/python/test_qi_example.cc_backend.map
test/v1x/python/test_qi_example.cc_backend.vcd
test/v1x/python/test_qi_example.cc_backend.vq1asm
test/v1x/python/test_qi_example.initial.cq
test/v1x/python/test_qi_example.scheduled.cq
Testing/Temporary/CTestCostData.txt

# Diamond Example Files
examples/diamond/test_output

docs/_build
docs/_static
docs/_templates
docs/_templates

/.idea
.vscode
/cmake-build-*

*.pbm

# conan
CMakeUserPresets.json
